*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	background: darksalmon;
	 min-height: 100%;
}
.container{
	display: grid;
	grid-template-columns: 30% 70%;
	grid-column-gab: 1em;
}
.container-left
{
	background: #ffa500;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
	height: 120vh;
	
}
.profile-img{
	float: left;
	width: 340px;
	height: 200px;
}
.profile-img img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	border: 4px solid #fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	position: absolute;
	left: 50px;
	top: 20px;
	z-index: 5;
	align:center;
	margin-bottom: 24px;
	
}
.user-info{
	padding:230px 0px 300px;
}
.user-info  h3{
	text-align:center;
}
#username {
	padding-right: 60px;
	margin-bottom: 24px;
	padding-top: 18px;
	font-size: 1.8rem;
}
.user-info p{
	padding-left: 10px;
	margin-bottom: 7px;
}
.user-info p i{
	padding-left: 10px;
	margin-bottom: 7px;
}
.review-add-btn{
	display: flex;
	overflow: hidden;
}
button.review-btn, button.add-btn{
	border:0;
	outline: none;
	padding: 10px;
	width: 100%;
	border radius: 25%;
	background: #706963;
	font-size: 1rem;
	margin: 8px 6px;
	margin-bottom: 20px;
	margin-top: 10px;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
	box-shadow:0px 5px 7px 0px rgba(0,0,0);
}
button.review-btn:hover, button.add-btn:hover{
	background:rgba(232,202, 123, .9);
}
button.review-btn i, button.add-btn i{
	margin-right: 5px;
	color: black;
}
.user-review-ratings{
	display: flex;
	text-align: center;
}
.user-review-ratings h3{
	font-size: 2.4rem;
	font-weight: 200;
	margin-right: 5px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-left: 84px;
}
.user-review-ratings .no-of-users{
	font-size:.9rem;
}
.rating-stars{
	padding-top: 15px;
}
.rating-stars{
	font-size:.8rem;
}

.container-right{
	background: #706963;
}
.bookmark-logout-btn{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding:10px 10px 150px 10px;
}
button.bookmarks-btn{
	float:left;
	border-radius:50%;
	
}
button.logout-btn{
	float: right;
	border-radius: 50%;
}

button.bookmarks-btn, button.logout-btn{
	border:0;
	background: #ffa500;
	font-size: 1.2rem;
	width: 180px;
	transition: background 0.5s ease-in-out;
	box-shadow:0px 5px 7px 0px rgba(0,0,0);
		
}
button.bookmarks-btn:hover, button.logout-btn:hover{
	background:rgba(232,202, 123, .9);
}

.nav{
	width: 100%;
	z-index: -1;
}
.nav ul{
	display: flex;
	justify-content:space-between;
	list-style-type: none;
	background: #ffa500;
	box-shadow: 0px 0px 0px rgba(0,0,0,.3)
}
.nav ul li{
	padding: 12px;
	cursor: pointer;
	text-align: center;
	font-size: 2rem;
	font-weight: 200;
	transition: all 2s ease-in-out;
	
}
.nav ul li.active-tab, .nav ul li:hover{
	box-shadow: 0px -5px 0px rgba(255,255,255,.9) inset;
	
}
.rightside-body{
	width: 100%;
	z-index: -1;
}
.rightside-body h1{
	padding-bottom: 15px;
	padding-top: 15px;
	color: #ffa500;
	font-weight: bold;
}
.tab{
	padding:20px;
	width: 100%;
	text-align: center;
	display:none;
}
#see-more, #see-less{
	color: blue;
	cursor: pointer;
	text-transform: lowercase;
	font-weight: bold;
}
.footer{
	display: grid;
	grid-template-columns: 100% 240%;
	height:200px;
}
.footer-left{
	padding-top: 20px;
	background: #fff;
}
.footer-left p{
	text-align: center;
	font-weight: bold;
}
.footer-right{
	background: #fff;

}
.footer-right h1{
	text-align: center;
	padding-top: 20px;
}
.footer-right p{
	text-align: center;
	padding-top: 20px;
}
.achor-btn{
	background: #ffa500;
	font-size: 1.2rem;
	width: 350px;
	transition: background 0.5s ease-in-out;
	box-shadow:0px 5px 7px 0px rgba(0,0,0);
	cursor:pointer;

}
.achor-btn:hover{
	background:rgba(232,202, 123, .9);
}



