<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Cocktail Search</title>

    <!-- Bootstrap & jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_site/style_profile.css' %}">
    <link rel="stylesheet" href="{% static 'web_site/style.css' %}">
    <link rel="stylesheet" href="{% static 'web_site/tagsinput.css' %}">

    <script src="{% static 'web_site/script_profile.js' %}"></script>
    <script src="{% static 'web_site/tagsinput.js' %}"></script>

    {% if request.session.is_moderator %}
    <script src="{% static 'web_site/js/moderator_profile.js' %}"></script>
    <script src="{% static 'web_site/js/moderator_index.js' %}"></script>
    {% endif %}
    <script src="{% static 'web_site/rater.js' %}"></script>

    <meta id="token" value="{{ csrf_token }}">
    <meta id="user_id" value="{{ user_id }}">



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
        <img src="{% static 'web_site/img/logo_sm.png' %}/" class="img-fluid logo" alt="Cocktail Search">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-3" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <button class="nav-link  btn" href="" id="bookmarked-cocktails-btn">
                Bookmarked cocktails
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn" href="" id="my-cocktails-btn">My cocktails</button>
            </li>
            {% if request.session.is_moderator %}
            <li>
                <button class="nav-link btn" href="" id="ban-user-btn">Ban User</button>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item dropdown mr-5">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i id="notification-icon" class="fas fa-bell"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Notification 1</a>
                  <a class="dropdown-item" href="#">Notification 2</a>
                  <a class="dropdown-item" href="#">Notification 3</a>
                </div>
              </li> -->
              <li class="nav-item">
                <button class="nav-link btn" id="logout-btn">Logout</button>
              </li>
          </ul>
        </div>
      </nav>

    <div class="content m-3">
        <div id="drinks-grid-container-bookmarked" class="mt-0 mr-5 ml-5"></div>
        <div id="drinks-grid-container-own" class="mt-0 mr-5 ml-5" style="display: none;">
          <button class="btn" id="add-cocktail-btn"><i class="fas fa-plus-circle"></i></button>
        </div>
    </div>

    <div class="modal fade" id="cocktail-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <meta id="selected-drink-id" value="">
    <meta id="selected-drink-from-local-db" value="">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
            <button type="button" class="close pr-1" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col ml-0 pl-0">
                    <img id="cocktail-modal-img" src="">
                </div>
                <div class="row justify-content-end" id="bookmark-btn-wrapper">
                  <button class="btn" id="bookmark-cocktail" bookmarked="1"><i class="fas fa-bookmark"></i></button>
                </div>
                {% if request.session.is_moderator %}
                <div>
                  <button class="btn" id="delete-cocktail"><i class="fa fa-ban"></i></button>
                </div>
                {% endif %}
                <div class="col p-3 m-3">
                    <div class="row">
                        <div class="col">
                            <div class="row  justify-content-center">
                                <h3 id="cocktail-modal-name"></h3>
                            </div>
                            <div class="row mb-2 justify-content-center" id="selected-drink-ranking-container">
                                <div class="rating" id="selected-drink-rating"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center" id="cocktail-modalingredients">
                    </div>
                    <div class="row mt-3">
                        <h4>Ingredients</h4>
                    </div>
                    <div class="row">
                        <ul id="drink-amounts">

                        </ul>
                    </div>
                    <div class="row mt-3">
                        <h4>Recipe</h4>
                    </div>
                    <div class="row">
                        <p id="drink-recipe"></p>
                    </div>

                    <button id="delete-personal-cocktail-btn" class="btn">Delete cocktail</button>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <button id="show-reviews-btn" class='btn w-100'>Show reviews<i class="fas fa-chevron-down ml-2"></i></button>
            </div>
        </div>
        <div class="row p-5" id="reviews-container" style="display: none;">

            <div id="reviews-from-db-container" class="w-100">

            </div>


            {% if is_authenticated %}
            <div class="review-container w-100 mb-3" id="new-review-container">
                <div class="w-100">
                    <h5>Add review</h5>
                    <div class="rating review-rating" id="review-rating-submit"></div>
                    <textarea type="text" id="add-review-text" placeholder="Input your review..." class="form-control w-100"></textarea>
                    <button id="submit-review" class="btn float-right mt-2">Submit review</button>
                    <button id="edit-review" class="btn float-right mt-2" style="display: none;">Edit review</button>
                </div>
            </div>
            {% endif %}

        </div>
      </div>
    </div>
  </div>


    <div class="modal fade" id="add-cocktail-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
            <button type="button" class="close pr-1" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row justify-content-center mt-5">
                <img src="{% static 'web_site/img/logo.png' %}/" class="img-fluid sub-logo" alt="Cocktail Search">
            </div>
            <div class="row justify-content-center mt-3 mb-3">
                <div class="col title-box text-center p-1 shadow">
                    <h2>Add a new cocktail</h2>
                </div>

            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-lg text-center">
                  <label for="new-cocktail-name">Cocktail name</label>
                  <input type="text" class="form-control ml-3 mr-3" id="new-cocktail-name">
                </div>
                <div class="col-lg text-center align-self-end mr-5">
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="cocktail-img" accept=".jpg, .jpeg, .png">
                      <label class="custom-file-label" for="cocktail-img">Choose cocktail image</label>
                    </div>
                  </div>
                 </div>


                <div class="row w-100 mt-3">
                  <div id="ingredients-container" class="col-xl">
                    <div class="row m-2 mb-0">
                      <div class="col text-center ingredient-input-label">
                        <p class="m-0">Ingredient</p>
                      </div>
                      <div class="col-1"></div>
                      <div class="col text-center ingredient-input-label">
                        <p class="m-0">Amount [cl]</p>
                      </div>
                    </div>
                    <div id="ingredient-input-wrapper">
                      <div class="row m-2 ingredient-row">
                        <div class="col">
                          <input type="text" class="form-control w-100 ingredient-name">
                        </div>
                        <div class="col-1"></div>
                        <div class="col">
                          <input type="number" class="form-control w-100 ingredient-amount" step="0.5">
                        </div>
                      </div>
                    </div>

                    <div class="row m-4">
                      <button id="add-ingredient-field" class="btn col"><i class="fas fa-plus"></i> Add another ingredient</button>
                    </div>
                </div>

                <textarea type="text" class="form-control col-xl mr-5" id="new-cocktail-recipe" placeholder="Enter recipe here..."></textarea>

              </div>


                <button class="btn w-100 ml-5 mr-5 mt-3 mb-4" id="submit-cocktail-btn">Submit cocktail</button>

                <div class="row w-100 justify-content-center">
                    <div class="mb-4"  id="missing-inputs-registration-label" style="display:none;">
                        <h5 class="invalid-input">Please fill the missing elements.</h5>
                    </div>
                </div>

                <div class="row w-100 justify-content-center"  id="register-404" style="display:none;">
                    <div class="mb-4">
                        <h5 class="invalid-input">Something went wrong, please try again.</h5>
                    </div>
                </div>

                <div class="row w-100 justify-content-center"  id="registration-success" style="display:none;">
                    <div class="mb-4">
                        <h5 class="success-input">Cocktail added succesfully!</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div  id="ingredient-row-template" style="display: none;">
      <div class="row m-2 ingredient-row">
        <div class="col">
          <input type="text" class="form-control w-100 ingredient-name">
        </div>
        <div class="col-1"></div>
        <div class="col">
          <input type="number" class="form-control w-100 ingredient-amount">
        </div>
      </div>
    </div>
    </div>
    </div>
    {% if request.session.is_moderator %}
    <div class="modal fade" id="ban-user-modal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="close pr-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row justify-content-center mt-5">
                    <img src="{% static 'web_site/img/logo.png' %}/" class="img-fluid sub-logo" alt="Cocktail Search">
                </div>
                <div class="row justify-content-center mt-3 mb-3">
                    <div class="col title-box text-center p-1 shadow">
                        <h2>Ban/Unban a user</h2>
                    </div>
                </div>
                <div class=""> <!-- TODO when text is inserted here, the dropdown has to appear -->
                    <input type="text" placeholder="Username of the user to remove" id="ban-username-input" />
                    <input type="submit" value="Ban/Unban the selected user" id="ban-confirm-btn">
                </div>
                <div class="dropdown" id="ban-users-list">
                    <!--TODO it have to be a dropdown like the one of the lab-->
                </div>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
</body>