<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Cocktail Search</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">


    <!-- Bootstrap & jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_site/style.css' %}">
    <link rel="stylesheet" href="{% static 'web_site/tagsinput.css' %}">

    <script src="{% static 'web_site/script.js' %}"></script>
    <script src="{% static 'web_site/tagsinput.js' %}"></script>
    <script src="{% static 'web_site/rater.js' %}"></script>

    <meta id="token" value="{{ csrf_token }}">

</head>

<body>
    test
</body>