#search-container{
    margin-top: 15%;
}

#main-logo{
    max-width: 20rem;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.sub-logo{
    max-width: 10rem;
}

.login-input{
    max-width: 50%;
}

#login-submit-btn, #register-submit-btn{
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

#login-submit-btn:hover, #register-submit-btn:hover{
    background-color: rgba(68, 114, 196, 1);
    color: white;
    transition: 0.3s;

}

#profile-btn{
    color: rgba(68, 114, 196, 1) !important;
}

.title-box{
    background-color: rgba(68, 114, 196, 1);
    color: white; 

}

.invalid-input{
    color: red;
}

.search-btn{
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.search-btn:hover{
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.9);
}

#drinks-grid-container{
    margin-top: 10em;
    margin-bottom: 5em;
}

.cocktail-cell{
    position: relative;
}

.cocktail-cell-description{
    position: absolute;
    bottom: 5%;
    left: 0;

    font-size: 1.2em;

    background-color: rgba(255, 255, 255, 0.8);
    width: fit-content;
    padding: 0.5em;
    padding-right: 1.5em;
}



.cocktail-cell p, .cocktail-cell .rating{
    display: inline-block;
}

.name{
    margin-bottom: 0;
}

.rating{
    margin-bottom: .4em;
    margin-left: 1em;
}

.rating span{
    /* font-size: 2rem; */
}

.rate-base-layer{
    color: rgba(255, 166, 0);

}

.rate-select-layer{
    color: rgba(255, 166, 0, 0.8);
}

.rate-hover-layer
{
    color: rgb(255, 166, 0);
}


.cocktail-cell{
    cursor: pointer;
}

.cocktail-cell:hover img{
    opacity: 1;
    transition: 0.3s;
}

.cocktail-cell img{
    width:100%;
    height: 18em;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.3s;
}

#show-more-btn{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5em 2em;
}

#show-more-btn:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

#cocktail-modal-img{
    width: 40%;
    height: 100%;
    min-height: 40rem;
    min-width: 100%;
    object-fit: cover;

}

.modal-body{
    min-height: 30rem;

}

.ingredient{
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: small;

    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.08);
}

.ingredient-searched{
    background-color: rgba(68, 114, 196, 1) !important;
    color: white;
}

.amount{
    display: block;
}

#no-drinks-info{
    color: rgba(0, 0, 0, 0.6);
}
#scroll-up{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.35);
    transition: 0.3s;
}

#scroll-up:hover{
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(68, 114, 196, 0.8);
    transition: 0.3s; 
}

#drink-amounts{
    margin-left: 1rem;
    border-left: 2px solid rgba(68, 114, 196, 1);
}

#drink-amounts li::before {
    content: "\02023"; 
    color: rgba(68, 114, 196, 1);
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }

  #show-reviews-btn{
    background-color: rgba(68, 114, 196, 1);
    color: white;
    border-radius: 0;
  }

.review-text-wrapper{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.review-username{
    font-weight: 600;
    color: rgba(68, 114, 196, 1);

}

#add-review-text{
    min-height: 10rem;
}

#submit-review, #edit-review{
    background-color: rgba(68, 114, 196, 1);
    color: white;
}

#bookmark-btn-wrapper{
    position: absolute;
    top: 0;
    left: 2rem;
}

#bookmark-cocktail{
    color:  rgba(68, 114, 196, 1);
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    margin-left: 0;
}