.header{

    width: 100%;
    min-height: 5rem;
    background-color: white;
    color: black;

}

body{
    background-color: rgba(68, 114, 196, 1);
}


.logo{
    max-width: 6rem;
    cursor: pointer;
}

.left-group{
    float: left;
}

.right-group{
    float: right;
}

#notification-icon{
    font-size: 2rem;
}

#add-cocktail-btn{
    color: rgba(255, 255, 255, 1);
    font-size: 6rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#add-cocktail-btn:hover{
    color: rgba(255, 255, 255, 0.8);
}

/* .ingredient-input-label{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(68, 114, 196, 1);
    border-radius: .5rem;
    padding: .5rem;
} */

#add-ingredient-field, #submit-cocktail-btn{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(68, 114, 196, 1);
}

#delete-personal-cocktail-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(236, 67, 67, 0.6);
    color: white;
    transition: .3s;
}

#delete-personal-cocktail-btn:hover{
    background-color: rgba(236, 67, 67, 0.9);
    color: white;

}